p {
  font-size: 0.7rem;
  margin: 0 0 2px 0;
}

input {
  width: 100%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.detail-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail-container {
  height: 100vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.card-grid__title {
  color: #003366;
  margin: 10px 0;
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.card-grid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  height: 60%;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-grid > div {
  padding: 0 20px;
}

.item-title {
  grid-column-start: 1;
  grid-column-end: 13;
}

.item-divider {
  grid-column-start: 1;
  grid-column-end: 13;
}

.item-id {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item-company {
  grid-column-start: 4;
  grid-column-end: 9;
}

.item-cp {
  grid-column-start: 9;
  grid-column-end: 13;
}

.item-business {
  grid-column-start: 1;
  grid-column-end: 13;
}

.item-name {
  grid-column-start: 1;
  grid-column-end: 7;
}

.item-username {
  grid-column-start: 7;
  grid-column-end: 13;
}

.item-email {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item-phone {
  grid-column-start: 5;
  grid-column-end: 9;
}

.item-website {
  grid-column-start: 9;
  grid-column-end: 13;
}

.item-street {
  grid-column-start: 1;
  grid-column-end: 13;
}

.item-suite {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item-city {
  grid-column-start: 5;
  grid-column-end: 9;
}

.item-zipcode {
  grid-column-start: 9;
  grid-column-end: 13;
}

.item-back-button {
  grid-column-start: 1;
  grid-column-end: 3;
}

.item-save-button {
  grid-column-start: 12;
}

@media all and (max-width: 768px) {
  .card-grid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 1fr);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  item-title {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-divider {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-id {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-company {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-cp {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-business {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-name {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-username {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-email {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-phone {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-website {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-street {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-suite {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-city {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-zipcode {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .item-back-button {
    grid-column-start: 1;
    /* grid-column-end: 6; */
  }

  .item-save-button {
    grid-column-start: 12;
  }
}
