button {
  margin: 2px;
}

.button-edit {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.button-edit:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}
.button-edit:active {
  position: relative;
  top: 1px;
}

.button-delete {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background-color: #e4795e;
  border-radius: 6px;
  border: 1px solid #e44215;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.button-delete:hover {
  background: linear-gradient(to bottom, #de351b 5%, #e36549 100%);
  background-color: #019ad2;
}
.button-delete:active {
  position: relative;
  top: 1px;
}

.button-back {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background-color: #88e45e;
  border-radius: 6px;
  border: 1px solid #2de415;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.button-back:hover {
  background: linear-gradient(to bottom, #59de1b 5%, #4ee349 100%);
  background-color: #01d201;
}
.button-back:active {
  position: relative;
  top: 1px;
}
