p {
  color: #535353;
}

input {
  background-color: #f2f6f8;
  border: 1px solid #d3d3d3 !important;
  height: 1.2rem;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input:focus,
input:active {
  box-shadow: 0 0 5px #96dbfa !important;
  border: 1px solid #96dbfa !important;
}
