nav {
  overflow: hidden;
  background-color: #003366;
  position: fixed;
  text-outline: none;
  width: 100%;
  top: 0;
  font: inherit;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  text-decoration: none;
}

nav ul li button {
  margin-right: 100px;
}
