.customer-table-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.customer-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 120px;
  min-width: 850px;
}

@media only screen and (max-width: 1050px) {
  .customer-table-container {
    width: 100%;
  }
}
